.ForgotPassword {
    display: flex;
    min-height: 42vh;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.ForgotPassword__text {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ForgotPassword__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 75px;
    line-height: 112px;
    color: #FFFFFF;
    text-align: center;
}

.ForgotPassword__subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
}

.ForgotPassword__input {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}